---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInAngles: true
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never
ColumnLimit: 200
NamespaceIndentation: All
---
